.form-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
  padding-left: 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: white;
}
